.Checkout {

  text-transform: uppercase;
  
  &-Steps {
    @include after-mobile {
      display: flex;
      justify-content: space-between;
      padding: 40px 80px;
    }
  }
}

.Steps {
  &-Step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}